.info-background {
  background-color: #fceae8;
}

.panda-btn-buynow {
  color: white;
  background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
  border-radius: 8px;
  padding: 9px 25px;
  border: none;
}
